{% extends "base.html" %}

{% block content %}
<br/>
<h3 class="text-center">Pour aller plus loin</h3>
<br/>
<p class="lead">
    Liste de Tutoriels pour aller plus loin avec Flask :
    <ul>
    <br/>
        <p>Liens Vidéo Flask</p>
        <li><a href="https://www.youtube.com/watch?v=ZYaPKYQy2Sw&list=PLFVUGoYSTf1YXepCHyrFHSqMC2eOHs_1a&index=1" target="_blank">Youtube : Formation Python Flask</a></li>
        <li><a href="https://www.youtube.com/watch?v=6plVs_ytIH8&t=1152s" target="_blank">Youtube :  Simple Web App with Flask and Heroku</a></li>
        <li><a href="https://www.youtube.com/watch?v=E8MrHtWdERI" target="_blank">Youtube :  Flask : Tuto Débutant</a></li>
    <br/>
        <p>Liens Texte Flask</p>
        <li><a href="http://sdz.tdct.org/sdz/creez-vos-applications-web-avec-flask.html" target="_blank">Créez vos applications web avec Flask</a></li>
        <li><a href="https://eticweb.info/tutoriels-python/probleme-dimportation-contexte-flask-sqlalchemy/" target="_blank">Importation/contexte Flask-SQLAlchemy</a></li>
        <li><a href="https://datascientest.com/connecter-une-api-a-une-base-de-donnees-sous-python" target="_blank">Connecter une API à une Base de Données sous Python</a></li>
        <li><a href="https://esmithy.net/2020/06/20/sqlalchemy-cascade-delete/" target="_blank">SQLAlchemy Cascade Delete: Clarity through Examples</a></li>
    <br/>
        <p>Python Tutos complets</p>
        <li><a href="https://www.w3schools.com/python/" target="_blank">W3Schools Python / Tous les tutos</a></li>
    <br/>
        <p>Créer une appli depuis Flask</p>
        <li><a href="https://devcenter.heroku.com/articles/heroku-cli" target="_blank">Heroku Installation / Config</a></li>
        <li><a href="https://dashboard.heroku.com/apps/flask--tasks/deploy/heroku-git" target="_blank">Heroku / Connexion et envoie fichiers</a></li>
        <li><a href="https://devcenter.heroku.com/articles/git" target="_blank">Heroku / Deploying with Git</a></li>
    <br/>
        <p>Cours STUDI / OpenClassRoom</p>
        <li><a href="https://app.studi.fr/#/dashboard/medialibrary/1562/matieres/44947/modules/58440/themes" target="_blank">Studi : Développement web en Python - Flask</a></li>
        <li><a href="https://openclassrooms.com/fr/courses/4525361-realisez-un-dashboard-avec-tableau/5774811-creez-une-api-avec-flask" target="_blank">OCR : Créez une API avec Flask</a></li>
        <li><a href="https://openclassrooms.com/fr/courses/4425066-concevez-un-site-avec-flask" target="_blank">OCR : Concevez un site avec Flask</a></li>
    <br/>
        <p>En relation avec l'épreuve STUDI:</p>
        <li><a href="https://www.youtube.com/watch?v=ris2ndV8lAQ" target="_blank">Youtube :  Visualiser les Crypto-monnaies en Python</a></li>
    </ul>
</p>
<br/>

{% endblock%}